/* BEGIN font icons */
/* Defining svg icons as fonts via icomoon app for better browser support */
@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot?8p1rz0");
  src: url("../assets/fonts/icomoon.eot?8p1rz0#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/icomoon.ttf?8p1rz0") format("truetype"),
    url("../assets/fonts/icomoon.woff?8p1rz0") format("woff"),
    url("../assets/fonts/icomoon.svg?8p1rz0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker-icon:before {
  content: "\e900";
  color: #f650a0;
}
.icon-cart-icon:before {
  content: "\e901";
  margin-right: 4px;
  color: #000;
}
/* END font icons */

/* BEGIN default styles and modifier classes */

a:hover {
  color: #f650a0;
  text-decoration: none;
}

.active,
.cart-status {
  color: #f650a0 !important;
}
.active-breadcrumb {
  color: #000 !important;
}
.cart-status {
  font-size: 14.3px;
}
.heading-one {
  font-family: "Secular One", Arial, Helvetica, sans-serif;
  font-size: 55px;
  letter-spacing: 0.18px;
  color: #000;
  text-transform: uppercase;
}

p {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

/* END modifier classes

/* Font face, covering the most of browser support */
@font-face {
  font-family: "Secular One";
  src: url("../assets/fonts/SecularOne-Regular.eot");
  src: url("../assets/fonts/SecularOne-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/SecularOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/SecularOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Varela Round";
  src: url("../assets/fonts/VarelaRound.eot");
  src: url("../assets/fonts/VarelaRound.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/VarelaRound.woff2") format("woff2"),
    url("../assets/fonts/VarelaRound.woff") format("woff"),
    url("../assets/fonts/VarelaRound.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.website-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 0 20px; */
  width: 100%;
}

.navigation {
  min-height: 70px;
  background-color: #ffebf2;
  color: #000;
  font-family: "Secular One", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
}
/* Style for mobile hamburger */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 102, 203);
}

.navigation__logo {
  display: inline-block;
  font-size: 0px;
  vertical-align: middle;
  margin-top: 18px;
  margin-bottom: 17px;
}

.navigation__list {
  font-size: 0;
}

@media only screen and (min-width: 992px) {
  .navigation__list {
    margin-left: 166px;
  }
}

.navigation__list-item {
  text-transform: uppercase;
  display: block;
}

.navigation__list-item__item {
  font-size: 15px;
  letter-spacing: -0.05px;
  color: #000;
}

@media only screen and (min-width: 992px) {
  .navigation__list-item {
    margin-left: 26px;
    display: inline-block;
    vertical-align: middle;
  }
  .navigation__list-item:first-child {
    margin-left: 0;
  }
}

.navigation__list__language {
  font-size: 0px;
}

.navigation__list__language-item {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

/* List item separator */

.navigation__list__language-item :after {
  content: " / ";
  color: #000;
  margin-right: 3px;
}

.navigation__list__language-item:last-child :after {
  content: "";
}

.navigation__list__language-item-link {
  font-size: 14.3px;
  color: #000;
}

.navigation__right {
  font-size: 0;
  margin-right: 1px;
  margin-left: 16px;
}

.navigation__right-item {
  display: inline-block;
  vertical-align: middle;
}

.navigation__right-item-cart {
  font-size: 14.3px;
  color: #f650a0;
}

/* Content after navbar */

.jumbotron {
  background-image: url(../assets/images/jumbotron-path-image.png);
  background-position: 0px -69px;
}

@media only screen and (min-width: 576px) {
  .jumbotron {
    padding: 0 2rem;
    min-height: 268px;
    padding-top: 5.7rem;
  }
}

.jumbotron__paragraph {
  line-height: 20px;
  letter-spacing: 0.05px;
  padding-top: 16px;
  padding-left: 2px;
}

@media only screen and (min-width: 992px) {
  .jumbotron__paragraph {
    width: 800px;
  }
}

.jumbotron,
.breadcrumb {
  background-color: #fff;
}

.breadcrumb {
  padding: 0;
  padding-top: 36px;
  margin: 0;
}

.breadcrumb__list-item-name {
  font-size: 12px;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  color: #999;
}

.breadcrumb-item + .breadcrumb-item:before {
  color: #999;
  content: ">>";
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 0;
  padding-left: 4px;
}

/* .breadcrumb__list-item-name:after {
  content: ">>";
  margin-right: 4px;
  margin-left: 4px;
}

.breadcrumb__list-item:last-child :after {
  content: "";
} */
