@font-face {
  font-family: 'icomoon';
  src:  url('../../app/assets/icons/icomoon.eot?hcgpym');
  src:  url('../../app/assets/icons/icomoon.eot?hcgpym#iefix') format('embedded-opentype'),
    url('../../app/assets/icons/icomoon.ttf?hcgpym') format('truetype'),
    url('../../app/assets/icons/icomoon.woff?hcgpym') format('woff'),
    url('../../app/assets/icons/icomoon.svg?hcgpym#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

.icon-doubleArrow {
  @include inline-block;
  position: relative;
  height: $icon-arrow-size;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $icon-arrow-size / 2;
    height: $icon-arrow-size / 2;
    transform: rotate(45deg);
    border: 1px solid $color-primary;
    border-left: 0;
    border-bottom: 0;
  }

  &::after {
    left: 10px;
  }
}