html {
    font-family: $font-montserrat;
    font-size: $font-size-default;

    @include media-up('_m') {
        font-size: $font-size-default * 1.5;
    }

    @include media-up('_l') {
        font-size: $font-size-default * 1.8;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: $font-falling-sky;
    font-size: 40px;
    letter-spacing: 3px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}