.-relative {
    position: relative;
}

.-flex {
    display: flex;
}

.-jc {

    &sb {
        justify-content: space-between;
    }

    &c {
        justify-content: center !important;
    }
}

.-w {

    &100 {
        width: 100%;
    }
}

.-pv {

    &100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.-hidden {
    display: none;
}

.-m {
    // Horizontal
    &h {

        &c {
            margin-left: auto;
            margin-right: auto;
        }

        &0 {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &t {

        &Gutter {
            margin-top: $grid-gutter * 2;
        }
    }
}

.-p {

    &r {

        &0 {
            padding-right: 0 !important;
        }
    }
}

.-noGutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}