._wr {
  width: 100%;
  max-width: 280px;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin-left: auto;
  margin-right: auto;

  @include media-up('_xs') {
    max-width: 500px;
  }

  @include media-up('_m') {
    max-width: 720px;
  }

  @include media-up('_l') {
    max-width: 960px;
  }

  @include media-up('_xl') {
    max-width: 1170px;
  }

  @include media-up('_xxl') {
    max-width: 1280px;
  }
}

._wr-f {
  width: 100%;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin-left: auto;
  margin-right: auto;
}

._w {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
}

  /* All devices */
  ._1 {
    width: 8.33%;
  }
  ._2 {
    width: 16.66%;
  }
  ._3 {
    width: 25%;
  }
  ._4 {
    width: 33.33%;
  }
  ._5 {
    width: 41.66%;
  }
  ._6 {
    width: 50%;
  }
  ._7 {
    width: 58.33%;
  }
  ._8 {
    width: 66.66%;
  }
  ._9 {
    width: 75%;
  }
  ._10 {
    width: 83.33%;
  }
  ._11 {
    width: 91.66%;
  }
  ._12 {
    width: 100%;
  }

@media only screen and (min-width: 576px) {
    /* For tablets: */
    ._s1 {
      width: 8.33%;
    }
    ._s2 {
      width: 16.66%;
    }
    ._s3 {
      width: 25%;
    }
    ._s4 {
      width: 33.33%;
    }
    ._s5 {
      width: 41.66%;
    }
    ._s6 {
      width: 50%;
    }
    ._s7 {
      width: 58.33%;
    }
    ._s8 {
      width: 66.66%;
    }
    ._s9 {
      width: 75%;
    }
    ._s10 {
      width: 83.33%;
    }
    ._s11 {
      width: 91.66%;
    }
    ._s12 {
      width: 100%;
    }
  }

  /* Custom tablet breakpoint */
  @media only screen and (min-width: 768px) {
    /* For tablets: */
    ._m1 {
      width: 8.33%;
    }
    ._m2 {
      width: 16.66%;
    }
    ._m3 {
      width: 25%;
    }
    ._m4 {
      width: 33.33%;
    }
    ._m5 {
      width: 41.66%;
    }
    ._m6 {
      width: 50%;
    }
    ._m7 {
      width: 58.33%;
    }
    ._m8 {
      width: 66.66%;
    }
    ._m9 {
      width: 75%;
    }
    ._m10 {
      width: 83.33%;
    }
    ._m11 {
      width: 91.66%;
    }
    ._m12 {
      width: 100%;
    }
  }

  @media only screen and (min-width: 992px) {
    /* For desktop: */
    ._l1 {
      width: 8.33%;
    }
    ._l2 {
      width: 16.66%;
    }
    ._l3 {
      width: 25%;
    }
    ._l4 {
      width: 33.33%;
    }
    ._l5 {
      width: 41.66%;
    }
    ._l6 {
      width: 50%;
    }
    ._l7 {
      width: 58.33%;
    }
    ._l8 {
      width: 66.66%;
    }
    ._l9 {
      width: 75%;
    }
    ._l10 {
      width: 83.33%;
    }
    ._l11 {
      width: 91.66%;
    }
    ._l12 {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1200px) {
    /* For desktop: */
    ._xl1 {
      width: 8.33%;
    }
    ._xl2 {
      width: 16.66%;
    }
    ._xl3 {
      width: 25%;
    }
    ._xl4 {
      width: 33.33%;
    }
    ._xl5 {
      width: 41.66%;
    }
    ._xl6 {
      width: 50%;
    }
    ._xl7 {
      width: 58.33%;
    }
    ._xl8 {
      width: 66.66%;
    }
    ._xl9 {
      width: 75%;
    }
    ._xl10 {
      width: 83.33%;
    }
    ._xl11 {
      width: 91.66%;
    }
    ._xl12 {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1440px) {
    /* For desktop: */
    ._xxl1 {
      width: 8.33%;
    }
    ._xxl2 {
      width: 16.66%;
    }
    ._xxl3 {
      width: 25%;
    }
    ._xxl4 {
      width: 33.33%;
    }
    ._xxl5 {
      width: 41.66%;
    }
    ._xxl6 {
      width: 50%;
    }
    ._xxl7 {
      width: 58.33%;
    }
    ._xxl8 {
      width: 66.66%;
    }
    ._xxl9 {
      width: 75%;
    }
    ._xxl10 {
      width: 83.33%;
    }
    ._xxl11 {
      width: 91.66%;
    }
    ._xxl12 {
      width: 100%;
    }
  }

div[class^='_s'],
div[class^='_m'],
div[class^='_l'],
div[class^='_xl'],
div[class^='_xxl'] {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}