.m-list {

    &.-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-weight: 600;
        width: 100%;
        font-weight: 500;
        color: $color-black-1;

        @include media-up('_m') {
            font-size: 22px;
        }
    }

    &.-social {
        display: flex;
        align-items: center;

        @include media-up('_m') {
            font-size: 22px;
        }

        &.-offset {
            margin-top: 30px;
        }
    }

    &__item {
        transition: color 400ms;

        .-primary & {
            @include first-of-type-none('margin-left', 40px);
        }
        
        .-social & {
            @include first-of-type-none('margin-left', 20px);
        }

        .-offset & {
            @include first-of-type-none('margin-left', 30px);
        }

        &:hover {
            color: $color-primary;
        }
    }
}