.m-list {

    &.-primary {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-weight: 600;
        width: 100%;
        font-weight: 500;
        color: $color-black-1;

        @include media-up('_m') {
            margin-right: 50px;
            font-size: 22px;
        }
    }

    &.-social {
        display: flex;
        align-items: center;

        @include media-up('_m') {
            font-size: 22px;
        }

        &.-offset {
            margin-top: 30px;
        }
    }

    &.-work {

        & > * {
            @include first-child-none('margin-top', 20px);
        }
    }

    &__item {
        transition: color 400ms;

        .-primary & {
            @include first-of-type-none('margin-left', 40px);

            &:hover {
                color: $color-primary;
            }
        }

        .-social & {
            @include first-of-type-none('margin-left', 20px);

            &:hover {
                color: $color-primary;
            }
        }

        .-offset & {
            @include first-of-type-none('margin-left', 30px);
        }

        .-work & {
            display: flex;
            align-items: center;
            font-size: 14px;

            @include media-up('_m') {
                font-size: 18px;
            }

            & .a-icon {
                width: 150px;
            }
        }
    }
}