.m-skills {
    max-height: 920px;
    overflow: hidden;

    & ._w {
        justify-content: space-between;
    }

    .m-skills__column {
        margin: 0 auto;

        @include media-up('_l') {
            margin: 0;
        }
    }

    .a-heading {
        margin: 0 auto;
    }

    &__item {
        position: relative;
        min-width: 285px;
        min-height: 350px;
        flex-direction: column;
        align-items: flex-start;

        @include media-up('_xl') {
            max-width: 285px;
        }
    }
}