.m-slider {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateX(200%);
    pointer-events: none;
    transition: transform 1000ms, opacity 400ms;

    &.-active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    &__pagination {
        text-align: center !important;
        margin-top: 30px !important;

        > * {
            background-color: $color-primary !important;
        }
    }

    &__navigation {

        &--arrows {
            color: $color-primary !important;
        }
    }
}

.m-slider.-work {
    overflow: hidden;

    .swiper-slide {

        & > * {
            @include first-child-none('margin-top', 20px);
        }
    }
}