.m-work {
    font-family: $font-montserrat;
    
    &__content {

        &--heading {
            font-family: inherit;
            font-weight: 500;
            font-size: 20px;

            @include media-up('_m') {
                font-size: 38px;
            }
        }

        &--position {
            font-size: 18px;

            @include media-up('_m') {
                font-size: 32px;
            }
        }

        &--date {
            font-weight: 300;
            font-size: 16px;

            @include media-up('_m') {
                font-size: 24px;
            }
        }
    }
}