// Layout
$grid-gutter: 15px;

// Fonts
$font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-default: 10px;

// Icons
$icon-arrow-size: 30px;

// Values
$radius: .5rem;
$border-thickness: .25rem;

$navbar-height: 5rem;
$javascript-logo-offset: 20px;
$javascript-logo-letter-offset: 10px;

$profile-image-width: 360px;
$profile-image-height: 480px;

$projects-height: 400px;